<div class="side__layout">
  <div class="story__picture">
     <strong class="story__logo">Seam Health</strong>
  </div>
  <div class="story__content">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">How It Works</a></li>
      <li><a  href="#">Contact</a></li>
      <li><a [routerLink]="['/register']"><button type="button" class="btn btn-light">Signup</button></a></li>
  </ul>
  <h3 class="heading-3">Login to your account</h3>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" formGroupName="userData">
    <div class="form-floating mb-3">
      <label for="username" style="margin-left: 6rem;">Username</label>
      <input type="username" class="form-control" id="floatingUsername" placeholder="patml2021" formControlName="username" style="margin-left: 6rem;">
    </div>
    <div class="form-floating mb-3" [formGroup]="myForm" formGroupName="userData">
     <label for="password" style="margin-left: 6rem; margin-top: 2rem;">Password</label>
     <input type="password" class="form-control" id="floatingPassword" placeholder="Enter your password" formControlName="password" style="margin-left: 6rem;">
    </div>
     <div class="row">
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" style="margin-left: 6rem;">
            <label class="form-check-label" for="gridCheck" style="margin-left: 6rem;">
              <p style="margin-left: 2rem; color: #000;">keep me logged in</p>
            </label>
          </div>
        </div>
        <div clas="col">
          <a [routerLink]="['/home']"><button type="submit" class="btn btn-primary" style="margin-left: 6rem;">Login</button></a>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
         <button type="submit" class="btn btn-light" style="font-size: 12px; width: 100%; margin-left: 6rem; margin-top: 2rem; color: #000;">Create an account</button>
       </div>
       <div class="col-md-6">
         <button type="submit" class="btn btn-light" style="margin-left: 6rem; font-size: 12px; width: 100%; margin-top: 2rem; color: #000;">Forget Password?</button>
       </div>
      </div>
  </form>
  </div>
</div>
