
.doctor {
  display: flex;
  flex-direction: row;

  &__searchInput {
     padding: 14px;
     width: 100vh;
     height: 38px;
     margin-top: 5rem;
     margin-bottom: 4rem;
     background-color: rgba(221, 219, 219, 0.478);
     margin-left: 15rem;
     border: 1px solid #CED4DA;
     border-radius: 4px;
  }

  &__searchIcon {
    position: absolute;
    margin-top: 5.5rem;
    margin-left: 16rem;
    width: 20px;
    height: 20px;
  }

  &__span {
    margin-top: 5.5rem;
    position: absolute;
    margin-left: 18rem;
    font-size: 1rem;
    color: #000;
    font-weight: 400;
  }
}
