<div class="side__layout">
  <div class="story__picture">
     <strong class="story__logo" href="#">Seam Health</strong>
     <img src="/assets/image/image1.jpg" alt="" class="story__image">
  </div>
  <div class="story__content">
     <ul>
       <li><a href="#">Home</a></li>
       <li><a href="#">About</a></li>
       <li><a href="#">Book Appointment</a></li>
       <li><a  href="#">Contact</a></li>
       <li><a [routerLink]="['/login']"><button type="button" class="btn btn-primary">Login</button></a></li>
   </ul>
    <h3 class="heading-3">Add your Information to Register</h3>
   <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <div class="col">
        <label for="first name" style="margin-left: 6rem;">First Name</label>
        <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" [(ngModel)]="user.firstName" name="firstName" required style="margin-left: 6rem;">
      </div>
      <div clas="col">
        <label for="last name" style="margin-left: 6rem;">Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" [(ngModel)]="user.lastName" name="lastName" required style="margin-left: 6rem;">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="first name" style="margin-left: 6rem; margin-top: 2rem;">Email Address</label>
        <input type="text" class="form-control" placeholder="Email Address" id="email" aria-label="Email Address" [(ngModel)]="user.emailAddress" name="emailAddress" required  style="margin-left: 6rem;">
      </div>
      <div clas="col">
        <label for="last name" style="margin-left: 6rem; margin-top: 2rem;">Username</label>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" [(ngModel)]="user.username" name="username" required style="margin-left: 6rem;">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="first name" style="margin-left: 6rem; margin-top: 2rem;">Password</label>
        <input type="text" class="form-control" placeholder="Password" id="floatingPassword" aria-label="Password" [(ngModel)]="user.password" name="password" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" style="margin-left: 6rem;">
      </div>
      <div clas="col">
        <label for="last name" style="margin-left: 6rem; margin-top: 2rem;">Confirm Password</label>
        <input type="text" class="form-control" placeholder="confirm password" id="confirm password" aria-label="confirm password" [(ngModel)]="user.confirmPassword" name="confirm password" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" style="margin-left: 6rem;">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" style="margin-left: 6rem; margin-top: 3rem;">
          <label class="form-check-label" for="gridCheck" style="margin-left: 6rem; margin-top: 2rem;">
            <p style="margin-left: 2rem; margin-top: 1rem;">I accept the Terms and Conditions</p>
          </label>
        </div>
      </div>
      <div clas="col">
        <a [routerLink]="['/login']"><button type="submit" class="btn btn-primary" style="margin-left: 6rem; margin-top: 2rem;">Submit</button></a>
      </div>
    </div>
   </form>
  </div>
</div>
