<footer class="footer">
   <div class="row">
     <div class="col-4">
       <h1 style="color: #008FD5;">Address</h1>
       <p style="color: #008FD5; margin-top: 1rem;">Speed bus-stop Victoria Island, Lagos State, Nigera</p>
     </div>
     <div class="col-4">
      <h1 style="color: #008FD5;">Telephone</h1>
      <p style="color: #008FD5; margin-top: 1rem;">07061034439</p>
     </div>
     <div class="col-4">
      <h1 style="color: #008FD5;">Email</h1>
      <p style="color: #008FD5; margin-top: 1rem;">eottoho@seamhealthgroup.com</p>
     </div>
   </div>
</footer>
<div class="bottom-footer">
  <div class="container">
    <p style="color: #fff; text-align: center">©  2021 Seam Health. All Right Reserved.</p>
  </div>
</div>
