<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger logo__chopper" href="#top">Seam Health</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle Navigation">Menu <i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
       <li class="nav-item"><a class="nav-link js-scroll-trigger item__layout" href="#">Home</a></li>
       <li class="nav-item"><a class="nav-link js-scroll-trigger item__layout" href="#">About Us</a></li>
       <li class="nav-item"><a class="nav-link js-scroll-trigger item__layout" href="#">Book Appointment</a></li>
       <li class="nav-item"><a class="nav-link js-scroll-trigger item__layout" href="#">Contact</a></li>
       <li class="nav-item"><a class="nav-link js-scroll-trigger item__layout--next-1" [routerLink]="['/register']"><button type="button" class="btn btn-light">Signup</button></a></li>
       <li class="nav-item"><a class="nav-link js-scroll-trigger item__layout--next-2" [routerLink]="['/login']"><button type="button" class="btn btn-primary">Login</button></a></li>
      </ul>
    </div>
  </div>
</nav>

<section class="section-features">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <img src="/assets/image/image2.jpg">
        </div>
        <div class="col-6">
          <h1 class="heading-primary">"We care about our patients"</h1>
        </div>
      </div>
    </div>
</section>

<div class="container">
  <div class="row">
     <div class="col-6">
      <h2 class="heading-secondary">Well Equipped Laborator</h2>
      <p class="long-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, soluta non molestiae consequuntur quo voluptates qui. Inventore, ut amet esse vitae quam dicta fugiat, nam culpa debitis aspernatur quia eum!</p>
     </div>
     <div class="col-6">
        <h2 class="heading-secondary">Qualified Doctor</h2>
        <p class="long-copy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint vel delectus libero incidunt recusandae quas eveniet officiis, sit, praesentium maiores ratione voluptatibus necessitatibus iste? Dolorem repellat fugit porro voluptates unde?</p>
     </div>
  </div>
  <div class="row">
     <div class="col-6">
       <h2 class="heading-secondary">24 Hours Service</h2>
       <p class="long-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis asperiores, nesciunt magnam velit tempora ea nihil inventore voluptatem animi quisquam repudiandae blanditiis, pariatur illo cumque rem nulla? Dolorem, veniam consequuntur!</p>
     </div>
     <div class="col-6">
        <h2 class="heading-secondary">Emergency Department</h2>
        <p class="long-copy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quidem quaerat amet. Illo, doloribus. Cumque, tenetur. Distinctio ullam quod laborum, explicabo ut corrupti suscipit excepturi, aliquid debitis commodi quo fuga.</p>
     </div>
  </div>
</div>

<section class="section-work">
  <div class="container">
      <h3 class="heading-tertiary">Our Services</h3>
  </div>
  <div class="row">
    <div class="col-4">
    <img src="/assets/image/image3.jpg" alt="" class="image">
  </div>
  <div class="col-4">
     <img src="/assets/image/image4.jpg" alt="" class="image">
  </div>
  <div class="col-4">
   <img src="/assets/image/image5.jpg" alt="" class="image">
  </div>
 </div>
</section>

<app-footer></app-footer>
